---
interface Props {
	title: string;
	icon: string;
	image: string;
}

const { title, icon, image } = Astro.props;
---

<article>
	<img class='image' src={image} alt={title} />
	<div>
		<h2>{title}</h2>
		<slot />
		<div class='icon-container'>
			<img class='icon' src={icon} alt={title} />
		</div>
	</div>
</article>
<style>
	article {
		max-width: 25rem;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
		transition: transform 0.3s;
		overflow: hidden;
		text-align: center;
		color: var(--black);
		text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
		z-index: 500;
		transition: 0.5s ease;
	}
	article:hover .icon {
		transform: scale(1.2);
	}

	.image {
		width: 100%;
		aspect-ratio: 16/8;
		object-fit: cover;
	}

	article > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		background-color: rgb(255, 255, 255, 0.5);
		padding: 20% 1rem 20% 1rem;
		width: 100%;
		flex: 1;
	}
	h2 {
		font-size: 1.5rem;
		margin: 0.5rem 0;
		font-family:
            "Courier New",
            Courier;
	}

	.icon-container {
		width: 30%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--light-blue);
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
		padding: 1rem;
	}
	.icon-container::before {
		content: '';
		position: absolute;
		inset: -1rem;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
		border: 1px solid var(--light-blue);
		border-radius: 50%;
	}
	.icon {
		transition: transform 0.3s ease;
		width: 100%;
		height: 100%;
		filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3));
	}
</style>